@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ### Primary */

  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* ### Neutral */
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--main-BG);
  font-family: "Outfit", serif;
  font-size: 1.8rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  background: var(--card-BG);
  border-radius: 1.5rem;
  padding: 2rem 3rem;
  max-width: 40rem;
  margin: 0 auto;
  box-shadow: 0 2rem 3rem hsl(217, 50%, 7%);
}
.cube-img-container {
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
}
.cube-img {
  display: block;
  width: 100%;
  height: 100%;
}
.cube-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  width: 100%;
  height: auto;
  background: var(--cyan);
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.cube-img-container:hover::after {
  opacity: 0.4;
}
.eye-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in;
}
.cube-img-container:hover .eye-view {
  opacity: 1;
}
.card-title {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: var(--white);
  margin-bottom: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.card-title:hover {
  color: var(--cyan);
}
.text--c {
  color: var(--soft-blue);
}

.card-description {
  margin-bottom: 1.3rem;
}

.extra-d-block {
  display: flex;
  justify-content: space-between;
}
.eth-block,
.time-block {
  display: flex;
  align-items: center;
}
.eth-qty {
  color: var(--cyan);
}
.duration,
.eth-qty {
  margin-left: 0.8rem;
}

.creator-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border-top: 0.1px solid var(--blue-line);
  padding-top: 3rem;
  margin-top: 2rem;
}

.avatar-container {
  max-width: 4rem;
  max-height: 4rem;
  object-fit: fill;
  border: 1px solid var(--soft-blue);
  border-radius: 50%;
}
.avatar {
  width: 100%;
  height: 100%;
}

.creator {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.creator:hover {
  color: var(--cyan);
}
